.footer {
  display: grid;
  height: 100vh;
  min-height: 647px;
  padding-top: 21px;
}

.footer__text {
  justify-self: center;
  align-self: center;
  text-shadow: 2px 2px 0 var(--accent-clr);
}

@media (min-width: 375px) {
  footer.decorated-zone::before {
    inset-block-start: 20px;
  }

  footer.decorated-zone::after {
    inset-block-end: 1px;
  }
}

@media (min-width: 768px) {
  .footer {
    min-height: 984px;
  }

  .footer.decorated-zone {
    padding-top: 4px;
  }

  footer.decorated-zone::before {
    inset-block-start: 0;
  }
}

@media (min-width: 1024px) {
  .footer {
    min-height: 728px;
  }

  .footer__text {
    padding-top: 39px;
  }

  .footer.decorated-zone {
    padding: 0 0 0 1px;
  }

  footer.decorated-zone::before {
    inset-block-start: 39px;
  }
}
