.header {
  display: grid;
  grid-template-rows: max-content max-content max-content;
  align-items: start;
  height: 100vh;
  min-height: 648px;
}

.decorative-rec-icon {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 2px 10px 0 0;
  color: var(--rec-decoration-clr);
  inset-inline-end: 0;
  inset-block-start: 0;
}

.decorative-rec-icon::after {
  content: "";
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 5px 4px var(--rec-decoration-clr);
  background-color: var(--rec-decoration-clr);
  inline-size: 7px;
  block-size: 7px;
}

.decorated-zone {
  position: relative;
  /* max-block-size: 94vh; */
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-top: 1px solid var(--decorative-bracket-clr);
  border-right: 1px solid var(--decorative-bracket-clr);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-end: 0;
  inset-block-start: 0;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid var(--decorative-bracket-clr);
  border-left: 1px solid var(--decorative-bracket-clr);
  inline-size: 25px;
  block-size: 25px;
  inset-block-end: 0;
}

.header__theme-menu {
  justify-self: end;
  padding-top: 63.5px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.header__theme-menu-button {
  border: none;
  padding: 0 13px;
  outline: 1px solid transparent;
  color: var(--menu-clr);
  text-transform: lowercase;
  background-color: transparent;
  transition-duration: 0.2s;
  transition-property: outline;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-clr);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-clr);
  outline: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--menu-clr);
  pointer-events: none;
}

.header__heading {
  align-self: start;
  margin-top: 70px;
  text-shadow: 4px 4px 0 var(--accent-clr);
}

.header__text {
  justify-self: end;
  align-self: start;
  margin-top: 56px;
  margin-bottom: -100px;
  max-inline-size: 364px;
}

@media (min-width: 768px) {
  .header {
    min-height: 984px;
  }

  .decorated-zone {
    padding-top: 97px;
    gap: 134px;
  }

  .header__theme-menu {
    margin: 10px 0 0;
  }

  .header__heading {
    margin: 44px 0 0 -20px;
  }

  .header__text {
    margin-top: 28px;
  }
}

@media (min-width: 1024px) {
  .header {
    min-height: 728px;
  }

  .decorated-zone {
    padding-top: 0px;
    gap: 0px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: self-start;
    margin: 0;
    padding: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 11px;
  }

  .header__heading {
    margin: 277px 0 0 -20px;
  }

  .header__text {
    margin: 114px 0 0 0;
    padding-top: 0px;
    max-inline-size: 491px;
  }
}
