.why {
  margin-top: 30px;
}

@media (min-width: 768px) {
  .why {
    display: grid;
    grid-template-columns: 236px 1fr;
    column-gap: var(--gap);
    margin: 0;
    padding-top: 79.8px;
  }
}

@media (min-width: 1024px) {
  .why {
    grid-template-columns: 314px 1fr;
    padding-top: 40px;
  }

  .why__list-item {
    padding-bottom: 0.5px;
  }
}
