.why {
  margin-top: 30px;
}

@media (min-width: 768px) {
  .why {
    padding-top: 50px;
  }
}

@media (min-width: 1024px) {
  .why {
    grid-template-columns: 314px 1fr;
    margin: 0;
    padding-top: 40px;
  }

  .why__list-item {
    padding-bottom: 0.5px;
  }
}