.what {
  margin-top: 50px;
}

@media (min-width: 768px) {
  .what {
    margin: 60.5px 0 0;
  }

  .what__heading {
    max-inline-size: 236px;
  }
}

@media (min-width: 1024px) {
  .what__heading {
    max-inline-size: 314px;
    margin-bottom: 19.5px;
  }

  .what__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--gap);
  }
}
