html.theme-light {
  --cover-image: url(../images/cover-image-light.png);
  --accent-clr: #ff8dcb;
  --accent-dark-clr: #ff0070;
  --accent-clr-with-background: #353430;
  --accent-heading-clr: #ffc2e6;
  --text-clr: #353430;
  --button-hover-clr: #32312d66;
  --decorative-bracket-clr: #353430;
  --menu-clr: #353430;
  --rec-decoration-clr: transparent;
  --heading-clr: #353430;
  --page-bg: #fff1f7;
  --theme-button-focus-underline-clr: #000;
  --link-focus-underline-clr: #000;
}

html.theme-light .accented-link:focus-visible {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--link-focus-underline-clr);
}

@media (prefers-color-scheme: light) {
  :root {
    --cover-image: url(../images/cover-image-light.png);
    --accent-clr: #ff8dcb;
    --accent-dark-clr: #ff0070;
    --accent-clr-with-background: #353430;
    --accent-heading-clr: #ffc2e6;
    --text-clr: #353430;
    --button-hover-clr: #32312d66;
    --decorative-bracket-clr: #353430;
    --menu-clr: #353430;
    --rec-decoration-clr: transparent;
    --heading-clr: #353430;
    --page-bg: #fff1f7;
    --theme-button-focus-underline-clr: #000;
    --link-focus-underline-clr: #000;
  }
}
