.page {
  margin: 0 auto;
  padding: 10px;
  color: var(--text-clr);
  font-size: 18px;
  background-image: var(--cover-image);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--page-bg);
}

.accented-shadow-text {
  color: var(--accent-heading-clr);
  font-weight: 700;
  font-size: var(--accent-heading-fs-mobile);
  line-height: 82.5%;
}

.accented-background {
  color: var(--accent-clr-with-background);
  background-color: var(--accent-clr);
}

.accented-text {
  font-size: 18px;
  line-height: 130%;
}

.accented-text_bold {
  font-weight: 700;
}

.section-heading {
  margin: 0 0 20px;
  color: var(--heading-clr);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.accented-link {
  color: var(--text-clr);
  text-decoration: none;
  border: 1px solid transparent;
  text-shadow: 2px 2px 0 var(--accent-clr);
  transition: border-color 0.2s ease, color 0.2s ease;
}

.accented-link:hover {
  border-bottom-color: var(--link-focus-underline-clr);
}

.accented-link:focus-visible {
  border-color: #000;
  outline: none;
  border-bottom-color: var(--link-focus-underline-clr);
}

.paragraph-text {
  margin: 10px 0 19.4px;
  line-height: 130%;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-clr);
  outline-offset: 2px;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom-color: var(--theme-button-focus-underline-clr);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--menu-clr);
  outline-offset: 2px;
}

.header__theme-menu-button[disabled] {
  cursor: default;
  opacity: 1;
}

.section {
  margin: var(--gap) 0;
}

.section__heading {
  margin: 0 0 20px;
  color: var(--heading-clr);
  font-weight: 700;
  line-height: 130%;
}

h2.section__heading {
  font-size: 18px;
}

.section__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section__list-item {
  margin-bottom: var(--gap);
}

.section__list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.section__list-text {
  margin: 10px 0 20px;
  line-height: 130%;
}

@media (min-width: 768px) {
  .page {
    padding: 20px;
  }

  .section {
    display: grid;
    grid-template-columns: 236px 1fr;
    column-gap: var(--gap);
    margin: 80.5px 0 0;
  }

  .section-heading {
    margin: 0 0 20.5px;
  }
}

@media (min-width: 1024px) {
  .accented-shadow-text {
    font-size: var(--accent-heading-fs-desktop);
  }
}
