.how {
  margin-top: 50px;
}

.how__list-heading {
  margin-bottom: 20px;
}

.how__list-text {
  margin-bottom: 20.05px;
}

@media (min-width: 768px) {
  .how {
    margin-top: 61px;
  }
}

@media (min-width: 1024px) {
  .how {
    grid-template-columns: 314px 1fr;
    margin: 60.5px 0 0;
  }
}

.how__list-title {
  font-weight: 400;
}
